<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
        <testsuite name="feature">
            <directory suffix="Test.php">./Tests/Feature</directory>
        </testsuite>
        <testsuite name="rest">
            <directory suffix="Test.php">./Tests/Rest</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql-test"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PLENTY_ID_HASH" value="1000"/>

        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
