<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
        <testsuite name="feature">
            <directory suffix="Test.php">./Tests/Feature</directory>
        </testsuite>
        <testsuite name="rest">
            <directory suffix="Test.php">./Tests/Rest</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="production"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql-test"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <!-- for queue tests: <env name="QUEUE_DRIVER" value="s3"/> -->

        <const name="PLENTY_ID" value="1000"/>
        <!--<const name="LANG" value="de"/>-->
        <const name="TEST_MODE" value="1" />
        <const name="SDOM" value="http://master.plentymarkets.com" />
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>